.todo-container{
  
  background-image: url(../assets/pic1.png);
  background-size:auto;
  width: 60vw;
  margin: 3em auto;
  padding: 15px;
  border-radius: 10px;
  color: white;
}

.header{
    font-size: 2em;
    text-align: center;
    color: #ba0b0be1;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px;
}

.input{
    padding: 0.5em;
    width: 80%;
    font-size: 1.25em;
    color: #f0ca9c;
    background-color: #af5d35;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 3px rgb(20, 19, 19);
}
.input:focus{
    outline: none;
    border: 2px solid #df6e2841;
}
.addbtn{
    background-color: #ba0b0be1;
    color: black;
    font-size: 1.25em;
    margin: 15px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 2px ;
}
.addbtn:hover{
    background-color:   #b80f0ffd;
    box-shadow: 1px 3px 2px;
}

.list-tasks:hover{
    background-color: #c66b3eef;
}

.list-tasks{
    font-size: 1.25em;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    width: 90%;
    color: #fff8f0;
    background-color:  #af5d35;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.7em 1.8em;
    box-shadow: 2px 4px 3px rgb(20, 19, 19);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-tasks .list_todo{
    display: flex;
    justify-content: flex-end;
    
}
.dlt-btn{
    background-color: #ba0b0be1;
    color: black;
    margin: 0px 5px; 
    font-size: 0.75em;
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 3px 2px ; 
}
   

.dlt-btn:hover{
    background-color:#b80f0ffd;
    box-shadow: 1px 3px 2px ;
}
.custom-checkbox {
    display: inline-block;
    margin-top: 4px;
}
  
input[type="checkbox"] {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
}
  
input[type="checkbox"]:checked {
    background-color: #439b46; 
    border-color: #4CAF50;
}
  
input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 10px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.list-tasks input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    width: 70%;
    font-size: 1em;
    color: #f0ca9c;
    background-color: #af5d35;

}
.list-tasks input[type="text"]:focus{
    outline: none;
}
.edit-btn{
    background-color: #007bff;
    color: white;
    margin: 0px 5px;
    font-size: 0.75em;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    /* float: right; */
    cursor: pointer;
    box-shadow: 1px 2px 2px #000000; 
    transition: background-color 0.3s ease;
}
.edit-btn:hover{
    background-color: #0056b3;
}
.save-btn {
    background-color: #28a745; /* Green color */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}
.save-btn:hover {
    background-color: #218838;
}
