.App {
  text-align: center;
  height: 100vh;
  background-color: black;
}
#todo{
  color: #ee1414d5;
  font-size: 2em;
  margin-top: 20px;
  text-shadow: 3px 1px 2px  #b41212b7;
}
#link{
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 20px;
  text-align: left;
}

