.App {
  text-align: center;
  height: 100vh;
  background-image: url(./assets/bacground1.png);
   background-position: center;
}
#todo{
  color: #caaa84;
  font-size: 2em;
  margin-top: 20px;
  text-shadow: 2px 1px 1px;
}
#link{
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 20px;
  text-align: left;
}

